@import url("./header.css");
@import url("./footer.css");

.color-header {
  color: var(--Text_Color_5);
}

.our-story {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-story p:first-child {
  font-family: var(--Font_Roboto);
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -2px;
  text-align: center;
  padding-bottom: 44px;
  padding-top: 88px;
}

.our-story p:last-child {
  font-family: var(--Font_Roboto);
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  width: 600px;
  padding-bottom: 58px;
}

.our-story-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-story-1 img {
  padding-bottom: 142px;
}
.our-story-2 {
  display: flex;
  gap: 122px;
}

.our-story-p-1 {
  font-family: var(--Font_Roboto);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.7999999523162842px;
  text-align: left;
  width: 452px;
  padding-bottom: 214px;
}
.our-story-p-2 {
  font-family: var(--Font_Roboto);
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  width: 470px;
  padding-bottom: 30px;
}

/* ... */
.worldwide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 96px;
  background-color: var(--BG_Color_1);
  padding-top: 140px;
  padding-bottom: 138px;
}

.ww-1 {
  display: flex;
  gap: 26px;
}
.ww-div-1 {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.ww-div-1 img:hover {
  transform: translate(-10px, -10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.ww-div-2 img:hover {
  transform: translate(-10px, -10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.ww-div-2 {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-top: 42px;
}

.ww-2-p-1 {
  font-family: var(--Font_Roboto);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.7999999523162842px;
  text-align: left;
  width: 382px;
  padding-bottom: 38px;
}
.ww-2-p-2 {
  font-family: var(--Font_Roboto);
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  width: 496px;
  padding-bottom: 30px;
}

/* ... */

.meet-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 108px;
  padding-bottom: 68px;
}
.meet-team p:first-child {
  font-family: var(--Font_Roboto);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.7999999523162842px;
  text-align: center;
  padding-bottom: 26px;
}

.meet-team p:last-child {
  font-family: var(--Font_Roboto);
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  width: 610px;
}

/* ... */

.about-div-1 {
  width: 268px;
  height: 452px;
}

.about-div-1:hover {
  transform: translate(-10px, -10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.about-div-2 {
  padding-top: 32px;
}

.about-div-2 p:first-child {
  font-family: var(--Font_Roboto);
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-align: left;
}

.about-div-2 p:last-child {
  font-family: var(--Font_Roboto);
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}

.about-end-1 {
  display: flex;

  gap: 30px;
  width: 1158px;
  justify-content: start;
  padding-bottom: 60px;
}

.about-end-2 {
  display: flex;
  gap: 30px;
  width: 1158px;
  justify-content: start;
  padding-bottom: 180px;
}

.about-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
